body {
    background-color: black;
    color: white;
    text-align: center;
}
.calc_input_desc {
    font-weight: bold;
    font-size: larger;
}
.calc_result {
    padding-top: 1%;
    font-weight: bold;
    font-size:xx-large;
}
.drawing_desc {
    color: gray;
    font-size: small;
}
#calculator {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
#drawing {
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1%;
}
img {
    max-width: 30%;
    max-height: 50%;
}
input {
    width: 30%;
    text-align: center;
    margin-top: 1%;
}